<div class="py-4">
    <h2>Registro</h2>
    <hr class="w-50" />
{{!-- action="/skaters" method="POST" enctype="multipart/form-data" --}}
    <form >
        <div class="form-group row w-50 m-auto">
            <div class="form-group col-12 col-sm-6">
                <label>Email</label>
                <input class="form-control m-auto" name="email" />
            </div>
            <div class="form-group col-12 col-sm-6">
                <label>Nombre</label>
                <input class="form-control m-auto" name="nombre" />
            </div>
            <div class="form-group col-12 col-sm-6">
                <label>Password</label>
                <input class="form-control m-auto" type="password" name="password" />
            </div>
            <div class="form-group col-12 col-sm-6">
                <label>Repita la password</label>
                <input class="form-control m-auto" type="password" />
            </div>
            <div class="form-group col-12 col-sm-6">
                <label>Años de experiencia</label>
                <input class="form-control m-auto" name="anos_experiencia" />
            </div>
            <div class="form-group col-12 col-sm-6">
                <label>Especialidad</label>
                <input class="form-control m-auto" name="especialidad" />
            </div>
            <div class="form-group col-12 col-sm-12">
                <label>Foto de perfil</label>
                <input type="file" name="foto" />
            </div>
        </div>
        <button class="btn btn-info mb-3">Registrarme</button>
        <p><a href="/login"> Iniciar sesión</a></p>
    </form>
</div>
<script>
    
    const form = document.querySelector("form")
  form.addEventListener("submit", async (e) => {
        e.preventDefault()
        console.log('fd',document.querySelectorAll('input'))
        let [nombre,anos_experiencia, especialidad, email,password,foto] = document.querySelectorAll("input")
        
    //    console.log("Valores de Input: ", nombre.value, anos_experiencia.value, 
      //  especialidad.value, email.value, password.value,foto.files[0])

        const formData = new FormData();
        formData.append('nombre', nombre.value);
        formData.append('anos_experiencia', anos_experiencia.value);
        formData.append('especialidad', especialidad.value);
        formData.append('email', email.value);
        formData.append('password', password.value);
        formData.append('foto', foto.files);

        console.log(formData);


        nombre = nombre.value
        anos_experiencia = anos_experiencia.value
        especialidad = especialidad.value
        email = email.value
        password = password.value
        foto = foto.value

           const skater = {
            //id,
            nombre,
            email,
            password,
            anos_experiencia,
            especialidad,
            foto
        }
         try {
           const response = await axios.post("/skaters", formData)
           console.log('response',response)
           if(response.data.error){
            alert(response.data.mensaje);
           }
           // alert("Datos actualizados con éxito")
           // window.location = "/"
        } catch (error) {
            //const { data } = response
            //const { error } = data
            alert(error)
        }
  });
</script>